<div class="task-table-container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Task Name</th>
                <th>Status</th>
                <th>Description</th>
                <th>Due Date</th>
                <th>Priority</th>
                <th>Project</th>
                <th>Assigned To</th>
                <th>Tags</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <td>{{ task.title }}</td>
                <td>{{ task.status }}</td>
                <td>{{ task.description }}</td>
                <td>{{ task.due_date }}</td>
                <td>{{ task.priority }}</td>
                <td>{{ task.project }}</td>
                <td>{{ task.assigned_to.username }}</td>
                <td>
                    {% for tag in task.tags.all %}
                    {{ tag.name }}
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
