<div class="sidebar">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'tasks' %}">Tasks</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'projects' %}">Projects</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'teams' %}">Teams</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'users' %}">Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'tags' %}">Tags</a>
        </li>
    </ul>
</div>
